.container {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    align-items: center;
}

table td {
    border: 5px solid red;
    width: 100px;
    height: 100px; ;
    text-align:center;
    font-size: 50px;
    color: brown;
    background-color: lightcyan;
}

table td:hover{
    background-color: rgb(116, 207, 207) ;
}

.winner {
    font-size: 30px;
    text-align: center;
    color: purple;
}

.winner button{
    padding: 15px;
    font-size: 20px;
    background-color: green;
    color:  yellow;
}

.winner button:hover{
    background-color: rgb(2, 87, 2);
    cursor: pointer;
}
